# Usage: `pip install -r requirements.txt``

# Modeling

allennlp>=1.1.0
allennlp_models>=1.0

# Data munging

pandas==0.25.2
beautifulsoup4==4.8.1
lxml
python-Levenshtein

# add
# torch==1.6.0+cu101
# torchvision==0.7.0+cu101
# pip install torch==1.6.0+cu101 torchvision==0.7.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
# nltk_data 放置于root下

